tensorflow
pandas 
dvc
mlflow
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
from_root
pymongo
dotenv
ipykernel
torch 
torchvision 
torchaudio
boto3
mypy-boto3-s3
-e .